<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main_layout}">

<body>
<th:block layout:fragment="content">
    <div class="container community-write-main">
        <div class="text-center my-5">
            <h2 class="community-write-title">커뮤니티 글쓰기</h2>
            <p class="community-write-subtitle">글을 작성하고 공유하세요.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="community-write">
                    <form th:action="@{/AllCommunityWrite}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="community-title">제목</label>
                            <input type="text" id="community-title" name="allcTitle" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="community-name">작성자</label>
                            <input type="text" id="community-name" name="allcName" class="form-control" th:value="${session.loggedInUser.name}" readonly required>
                        </div>
                        <div class="form-group">
                            <label for="community-date">날짜</label>
                            <input type="date" id="community-date" name="dateAllc" class="form-control" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required>
                        </div>
                        <div class="form-group">
                            <label for="community-content">내용</label>
                            <textarea class="form-control" name="allcContent" id="community-content" rows="5" required></textarea>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-outline-primary mr-2">등록</button>
                            <a href="/AllCommunityView" class="btn btn-outline-primary">목록</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
