<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main_layout}">

<body>
<th:block layout:fragment="content">
    <div class="container data-sharing-view-main">
        <div class="text-center my-5">
            <h2 class="data-sharing-view-title">자료실</h2>
            <p class="data-sharing-view-subtitle">학습에 필요한 학습자료를 다운 받아서 활용하세요.</p>
        </div>
        <div class="row justify-content-center mb-4">
            <div class="col-md-8">
                <div class="d-flex justify-content-center align-items-center">
                    <form action="/DataSharingSearch" method="get" id="data-sharing-view-data_search_form" class="d-flex flex-grow-1 justify-content-center align-items-center">
                        <input type="text" name="search_query" placeholder="검색어를 입력해주세요." class="form-control mr-2 data-sharing-view-data-search-textbox">
                        <button type="submit" class="btn btn-outline-primary data-sharing-view-data-search-button ms-2">검색</button>
                        <a href="/InstructorWrite" class="btn btn-outline-primary data-sharing-view-write-button ms-4" th:if="${session.loggedInUser != null and session.loggedInUser.role == 'instructor'}">글쓰기</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <div class="data-sharing-view-content">
                    <div class="card data-sharing-view-card">
                        <table class="table table-hover data-sharing-view-table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">제목</th>
                                    <th scope="col">작성자</th>
                                    <th scope="col">등록일</th>
                                    <th scope="col">다운로드</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="datasharing : ${datasharingList}">
                                    <td><a class="data-sharing-view-link" th:href="@{/DataSharingViewDetail(no=${datasharing.dataNo})}" th:text="${datasharing.dataTitle}">제목 없음</a></td>
                                    <td th:text="${datasharing.dataName}">작성자없음</td>
                                    <td th:text="${#dates.format(datasharing.dataDate, 'yyyy-MM-dd')}">날짜 없음</td>
                                    <td>
                                        <a th:href="${datasharing.dataFile}" title="파일 다운로드">
                                            <i class="fas fa-save"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(datasharingList)}">
                                    <td colspan="4" class="text-center">글이 존재하지 않음</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
