<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main_layout}">

<body>
<th:block layout:fragment="content">
    <div class="container data-sharing-update-container">
        <div class="data-sharing-update">
            <div class="data-sharing-update-wrap">
                <form th:action="@{/updateDataSharing}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="data-sharing-update-lecture-title">강의 제목</label>
                        <input type="text" id="data-sharing-update-lecture-title" name="dataTitle" class="form-control" th:value="${datasharing.dataTitle}" required>
                    </div>
                    <div class="form-group">
                        <label for="data-sharing-update-instructor-name">강사 이름</label>
                        <input type="text" id="data-sharing-update-instructor-name" name="dataName" class="form-control" th:value="${datasharing.dataName}" required>
                    </div>
                    <div class="form-group">
                        <label for="data-sharing-update-pass">비밀번호</label>
                        <input type="text" id="data-sharing-update-pass" name="dataPw" class="form-control" th:value="${datasharing.dataPw}" required>
                    </div>
                    <div class="form-group">
                        <label for="data-sharing-update-date">날짜</label>
                        <input type="date" id="data-sharing-update-date" name="dateData" class="form-control" th:value="${#dates.format(datasharing.dataDate, 'yyyy-MM-dd')}" required>
                    </div>
                    <div class="form-group">
                        <label for="data-sharing-update-fileData">파일</label>
                        <input type="file" id="data-sharing-update-fileData" name="fileData" class="form-control-file">
                    </div>
                    <div class="form-group">
                        <label for="data-sharing-update-content">내용</label>
                        <textarea class="form-control" name="dataContent" id="data-sharing-update-content" rows="5" required th:text="${datasharing.dataContent}"></textarea>
                    </div>
                    <input type="hidden" name="dataNo" th:value="${datasharing.dataNo}">
                    <div class="data-sharing-update-content-box mb-4">
                        <button type="submit" class="btn btn-outline-primary data-sharing-update-submit-button">수정 완료</button>
                        <a href="/DataSharingView" class="btn btn-outline-primary data-sharing-update-cancel-button">취소</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
