<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<body>
    <th:block layout:fragment="content">
        <div class="upload-container-upload my-5">
            <h1 class="upload-title-upload mb-4">강의 업로드</h1>
            <form action="/lectures/upload" method="post" enctype="multipart/form-data" class="upload-form-upload mb-5" id="uploadFormUpload">
                <div class="row">
                    <div class="col-md-6">
                        <div class="upload-form-group-upload form-group">
                            <label for="titleUpload">강의 제목 :</label>
                            <input type="text" id="titleUpload" name="title" class="form-control">
                            <div class="error-message-upload" id="errorTitleUpload"></div>
                        </div>
                        <div class="upload-form-group-upload form-group">
                            <label for="shortDescriptionUpload">간략 설명 :</label>
                            <input type="text" id="shortDescriptionUpload" name="shortDescription" class="form-control">
                            <div class="error-message-upload" id="errorShortDescriptionUpload"></div>
                        </div>
                        <div class="upload-form-group-upload form-group">
                            <label for="longDescriptionUpload">상세 설명 :</label>
                            <textarea id="longDescriptionUpload" name="longDescription" class="form-control"></textarea>
                            <div class="error-message-upload" id="errorLongDescriptionUpload"></div>
                        </div>
                        <div class="upload-form-group-upload form-group">
                            <label for="thumbnailVideoUpload">썸네일 비디오 :</label>
                            <input type="file" id="thumbnailVideoUpload" name="thumbnailVideo" class="form-control-file">
                            <div class="error-message-upload" id="errorThumbnailVideoUpload"></div>
                        </div>
                        <div class="upload-form-group-upload form-group">
                            <label for="thumbnailImageUpload">썸네일 이미지 :</label>
                            <input type="file" id="thumbnailImageUpload" name="thumbnailImage" class="form-control-file">
                            <div class="error-message-upload" id="errorThumbnailImageUpload"></div>
                        </div>
                        <div class="upload-form-group-upload form-group">
                            <label for="levelUpload">레벨 :</label>
                            <select id="levelUpload" name="level" class="form-control">
                                <option value="">레벨 선택</option>
                                <option value="최하">최하</option>
                                <option value="하">하</option>
                                <option value="중하">중하</option>
                                <option value="중">중</option>
                                <option value="중상">중상</option>
                                <option value="상">상</option>
                                <option value="최상">최상</option>
                            </select>
                            <div class="error-message-upload" id="errorLevelUpload"></div>
                        </div>
                        <div class="upload-form-group-upload form-group">
                            <label for="priceUpload">가격 :</label>
                            <input type="text" id="priceUpload" name="price" class="form-control">
                            <div class="error-message-upload" id="errorPriceUpload"></div>
                        </div>
                        <div class="upload-form-group-upload form-group">
                            <label for="discountUpload">할인율 :</label>
                            <input type="text" id="discountUpload" name="discount" class="form-control">
                            <div class="error-message-upload" id="errorDiscountUpload"></div>
                        </div>
                        <div class="upload-form-group-upload form-group">
                            <label for="instructorIdUpload">강사 ID :</label>
                            <input type="text" id="instructorIdUpload" name="instructorId" class="form-control" th:value="${loggedInUser.userId}" readonly>
                        </div>
                        <div class="upload-form-group-upload form-group">
                            <label for="instructorNameUpload">강사 이름 :</label>
                            <input type="text" id="instructorNameUpload" name="instructorName" class="form-control" th:value="${loggedInUser.name}" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="chapter-container-upload" class="upload-chapter-container-upload">
                            <div class="upload-chapter-upload">
                                <h3>챕터 1</h3>
                                <div class="upload-form-group-upload form-group">
                                    <label for="chapterTitleUpload1">챕터 제목 :</label>
                                    <input type="text" id="chapterTitleUpload1" name="chapterTitles" class="form-control">
                                    <div class="error-message-upload" id="errorChapterTitleUpload1"></div>
                                </div>
                                <div class="upload-form-group-upload form-group">
                                    <label for="chapterDescriptionUpload1">챕터 설명 :</label>
                                    <input type="text" id="chapterDescriptionUpload1" name="chapterDescriptions" class="form-control">
                                    <div class="error-message-upload" id="errorChapterDescriptionUpload1"></div>
                                </div>
                                <div class="upload-form-group-upload form-group">
                                    <label for="chapterFileUpload1">챕터 비디오 :</label>
                                    <input type="file" id="chapterFileUpload1" name="chapterFiles" class="form-control-file">
                                    <div class="error-message-upload" id="errorChapterFileUpload1"></div>
                                </div>
                                <div class="upload-form-group-upload form-group">
                                    <label for="chapterOrderUpload1">챕터 순서 :</label>
                                    <input type="number" id="chapterOrderUpload1" name="chapterOrders" class="form-control">
                                    <div class="error-message-upload" id="errorChapterOrderUpload1"></div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="upload-button-group-upload">
                            <button type="button" id="addChapterUpload" class="upload-btn-secondary mb-4">챕터 추가</button>
                        </div>
                    </div>
                </div>
                <div class="upload-button-group-upload">
                    <button type="submit" class="upload-btn-primary mb-4">업로드</button>
                    <a href="/lectures" class="upload-btn-secondary mb-4">강의리스트</a>
                </div>
            </form>
        </div>
    </th:block>
</body>
</html>
