<footer class="footer">
	<div class="footer-container container">
		<div class="footer-column column">
			<h5>JJol</h5>
			<ul>
				<li><a href="#">JJol 소개</a></li>
				<li><a href="#">JJol 피드</a></li>
				<li><a href="#">수강평 모아보기</a></li>
				<li><a href="#">블로그</a></li>
			</ul>
		</div>
		<div class="footer-column column">
			<h5>신청하기</h5>
			<ul>
				<li><a href="#">지식공유참여</a></li>
				<li><a href="#">멘토링 소개</a></li>
				<li><a href="#">JJol 비즈니스</a></li>
				<li><a href="#">JJol 제휴</a></li>
			</ul>
		</div>
		<div class="footer-column column">
			<h5>고객센터</h5>
			<ul>
				<li><a href="/notices">공지사항</a></li>
				<li><a href="#">자주 묻는 질문</a></li>
				<li><a href="#">저작권 신고센터</a></li>
				<li><a href="#">수료증 확인</a></li>
				<li><a href="#">강의 · 기능요청</a></li>
			</ul>
		</div>
		<div class="footer-column column">
			<h5>JJol Lab</h5>
			<ul>
				<li><a href="#">JJol</a></li>
				<li><a href="#">With us</a></li>
				<li><a href="#">JJol 스토리</a></li>
				<li><a href="#">JJol 테크</a></li>
				<li><a href="#">IT 인재 채용 서비스</a></li>
			</ul>
		</div>
	</div>
	<div class="footer-social-icons social-icons">
		<a href="#"><i class="fab fa-facebook-f"></i></a> <a href="#"><i
			class="fab fa-twitter"></i></a> <a href="#"><i
			class="fab fa-instagram"></i></a> <a href="#"><i
			class="fab fa-linkedin-in"></i></a>
	</div>
	<div class="footer-bottom-text bottom-text">
		<p>&copy; 2024 JJol. All rights reserved.</p>
	</div>
</footer>