<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/path/to/your/css/style.css?v=1.1">
    <title>Document</title>
</head>
<body>
    <div id="header-container-header">
        <nav id="custom-header-navbar-header">
            <div id="navbar-left-header">
                <a id="navbar-brand-header" href="/"><img src="/images/mainlogo.png" alt="Logo" class="me-5"></a>
                <ul id="navbar-nav-header">
                    <li class="nav-item-header"><a class="nav-link-header" href="/notices">공지사항</a></li>
                    <th:block th:unless="${session.loggedInUser != null and session.loggedInUser.role == 'admin'}" >
	                    <li class="nav-item-header"><a class="nav-link-header" href="/chat">채팅</a></li>
                    </th:block>
                    <th:block th:if="${session.loggedInUser != null and session.loggedInUser.role == 'admin'}" >
	                    <li class="nav-item-header"><a class="nav-link-header" href="/paymentList">결제기록</a></li>
                    </th:block>
                    <li class="nav-item-header"><a class="nav-link-header" href="/AllCommunityView">커뮤니티</a></li>
                    <li class="nav-item-header">
                        <a th:if="${session.loggedInUser != null}" href="/DataSharing" class="nav-link-header">자료실</a>
                        <a th:if="${session.loggedInUser == null}" href="/login" class="nav-link-header">자료실</a>
                    </li>
                </ul>
            </div>
            <div id="navbar-center-header">
                <form id="search-form-header" action="/lectures/search" method="get">
                    <input type="text" id="search-input-header" name="keyword" placeholder="실무 강의를 찾아보세요">
                    <button type="submit" id="search-button-header">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <div id="navbar-right-header">
                <div th:if="${session.loggedInUser != null}" class="notification-header">
                    <a href="/notifications/form">
                        
                        <span th:if="${mostUrgentNotification != null}" class="text-center">
                           <i class="fas fa-clock"></i> D - <span th:text="${mostUrgentNotification.daysUntilExam}"></span> <br> <span th:text="${mostUrgentNotification.subject}"></span>
                        </span>
                        <span th:if="${mostUrgentNotification == null}">
                            일정 등록
                        </span>
                    </a>
                </div>
                <div class="icon-links-header">
                    <div th:if="${session.loggedInUser == null}">
                        <a href="/login" class="icon-link-header"><i class="fas fa-user"></i></a>
                        <a href="/register" class="icon-link-header"><i class="fas fa-user-plus"></i></a>
                    </div>
                    <div th:if="${session.loggedInUser != null and session.loggedInUser.role == 'student'}" class="user-info-header">
                        <span th:text="${session.loggedInUser.name} + '  님,' + '  오늘도 열공!'" class="me-3"></span>
                        <a href="/mypage" class="icon-link-header"><i class="fas fa-user-circle"></i></a>
                        <a href="/logout" class="icon-link-header"><i class="fas fa-sign-out-alt"></i></a>
                    </div>
                    <div th:if="${session.loggedInUser != null and session.loggedInUser.role == 'instructor'}" class="user-info-header">
                        <span th:text="${session.loggedInUser.name} + '  강사님,' + '  안녕하세요!'" class="me-3"></span>
                        <a href="/myLectures" class="icon-link-header"><i class="fas fa-user-circle"></i></a>
                        <a href="/logout" class="icon-link-header"><i class="fas fa-sign-out-alt"></i></a>
                    </div>
                    <div th:if="${session.loggedInUser != null and session.loggedInUser.role == 'admin'}" class="user-info-header">
                        <span th:text="${session.loggedInUser.name} + '  님,' + '  안녕하세요!'" class="me-3"></span>
                        <a href="/logout" class="icon-link-header"><i class="fas fa-sign-out-alt"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div id="content">
        <!-- 페이지별 컨텐츠 -->
    </div>
</body>
</html>
